/*
TODO: use !important incase something overwrites on site?
TODO: style remove button
*/
.hho-context-menu {
  padding: 10px;
  position: absolute;
  display: flex;
  gap: 10px;
  visibility: hidden;
  background: white;
  z-index: 9999;
  box-shadow: 0px 0px 8px hsla(0, 0%, 0%, 40%);
  border-radius: 3px;
  border: 1px solid black;
  top: 0;
  left: 0;
  contain: unset; /* In case some site has this set */
}

.hho-context-menu[aria-hidden="false"] {
  visibility: visible;
}

.hho-btn-color {
  outline: 10px solid #f9f9f9;
  width: 25px;
  height: 25px;
  border-style: none;
  border-radius: 50% !important;
}

.hho-mark {
  padding: 0;
  margin: 0;
  border-style: none;
}

.hho-mark[data-hho-color="yellow"],
.hho-btn-color[data-hho-color="yellow"] {
  background-color: #ffffba;
  border-color: #ffffba;
}
.hho-mark[data-hho-color="orange"],
.hho-btn-color[data-hho-color="orange"] {
  background-color: #ffdfba;

}
.hho-mark[data-hho-color="green"],
.hho-btn-color[data-hho-color="green"] {
  background-color: #baffc9;

}
.hho-mark[data-hho-color="blue"],
.hho-btn-color[data-hho-color="blue"] {
  background-color: #bae1ff;

}
.hho-mark[data-hho-color="red"],
.hho-btn-color[data-hho-color="red"] {
  background-color: #ffb3ba;

}
.hho-mark[data-hho-color="purple"],
.hho-btn-color[data-hho-color="purple"] {
  background-color: #e6cfff;
}

.hho-btn-remove {
  display: none;
}

.hho-context-menu[data-hho-state="modify"] .hho-btn-remove {
  display: block;
}

.sr-only {
	position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
